md-autocomplete
  &.md-os-theme
    height 70px
    background #f5f5f5

  md-autocomplete-wrap
    box-shadow none
    height 70px
    border-bottom 1px solid #dcdcdc

  input:not(.md-input)
    font-size 20px
    height 70px
    line-height 70px

.md-virtual-repeat-container.md-autocomplete-suggestions-container
  background #f5f5f5

.md-virtual-repeat-container.md-autocomplete-suggestions-container,
.md-whiteframe-1dp, .md-whiteframe-z1
  box-shadow none

.md-autocomplete-suggestions-container.md-os-theme lihover, .md-autocomplete-suggestions-container.md-os-theme li.selected
  background #eeeeee

.md-autocomplete-suggestions
  li
    font-size 16px
    line-height 54px
    height 54px
