.os-slider(
  layout="row"
  ng-class="{'os-slider-opened': osSlider.isOpened()}"
)
  .os-slider-content(ng-transclude)

  .os-slider-button
    a(ng-click="osSlider.toggle()")
      md-icon {{ osSlider.iconName() }}
