@require '../../elements-colours'

osThemePrimary=#2b97ef;
osThemeAccent=#aecc53;
osThemeWarn=#d40058;

$spinnerWidth=24px;

os-button
  display: inline-block;
  &:focus
    outline none

  .md-button
    border-radius(2px)
    //transition: padding-left .9s cubic-bezier(0.25, 0.8, 0.25, 1);
    &.md-os-super
      width 10em
      height 10em
      margin 0
    &.md-os-icon
      width 3em
      min-width 3em
      margin-right 0
    &.md-os-outline
      border 1px solid

    &.loading {
      // use the default disabled style if loading.  click won't be propagated either
      color: rgba(0,0,0,0.26) !important;
      cursor: default;
      .loader {
        padding-right: 44px;
      }
      // use the default disabled style if loading.  click won't be propagated either
      md-icon {
        color: rgba(0,0,0,0.26) !important;
        cursor: default;
      }
    }

a.md-button.md-default-theme:not([disabled]):hover, a.md-button:not([disabled]):hover, .md-button.md-default-theme:not([disabled]):hover, .md-button:not([disabled]):hover
  background-color white


// loader from http://david.ingledow.co.uk/blog/google-material-designs-animated-loading-spinner-svg-and-css/
$spinnerWidth=24px;
.loader {
  position: relative;
  margin: 0 auto;
  //width: $spinnerWidth;
  height: $spinnerWidth;
  transition: padding-right .9s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}
.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  //stroke: rgba(0,0,0,0.6);
  stroke: currentColor;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
// end loader
