.md-os-theme
  md-pagination-wrapper,
  md-tabs-canvas
    height 50px

  md-tab-item
    padding-left 0
    margin-left 5px

  .md-tab
    text-transform none
    font-weight bold
    text-align left
    color #acacac
    /*border-bottom: 2px solid #acacac;*/

    &.os-tab-completed
      color #000000
      border-bottom-color #000000

  md-tabs&

    .md-tab.md-active
      color #2b97ef

    md-ink-bar
      color #2b97ef
      background #2b97ef
