os-popover
  background #ffffff
  color #000000
  position absolute
  z-index 100
  top 50%
  left 50%
  min-width 200px
  max-width 300px
  min-height 100px
  box-sizing border-box
  padding 30px
  //key-shadow()
  ambient-shadow()
  display none

.os-popover-header
  padding 0
  margin 0
  color rgba(0, 0, 0, 0.871)
  font-size 20px
  line-height 1.2
  height 20px


.os-popover-description
  margin 27px 0 37px
  color rgba(0, 0, 0, 0.541)
  font-size 16px
  line-height 24px


os-popover-actions
  color #2b97ef

.os-popover-closeIcon
  position absolute
  right 15px
  top 15px
