//- transclude-content will be removed by controller
.transclude-content(ng-transclude)

md-icon.os-popover-closeIcon(ng-click="osPopover.hide()") clear

.os-popover-container(
  layout="row",
  os-popover-background="osPopover.backgroundImage",
  ng-class="{'m-os-popover-wide': osPopover.isWide()}"
  ng-style="{width: osPopover.width, height: osPopover.height, 'max-width': osPopover.width, 'max-height': osPopover.height}"
  )
  .os-popover-leftImage(flex, ng-if="osPopover.leftImage")
    img(ng-src="{{ osPopover.leftImage }}", width="142", height="234")

  div(flex)
    img(ng-if="osPopover.mainImage", ng-src="{{ osPopover.mainImage }}")
    .os-popover-content(flex, ng-if="osPopover.title || osPopover.subTitle || osPopover.description")
      h1.os-popover-header(ng-if="osPopover.title") {{ osPopover.title }}
      h2.os-popover-subheader(ng-if="osPopover.subTitle") {{ osPopover.subTitle }}
      p.os-popover-description(ng-if="osPopover.description") {{ osPopover.description }}

//- action box is transclude into this place
