key-shadow()
  border-radius 2px
  background-color rgb(245, 245, 245)
  box-shadow 0px 39px 56.4px 3.6px rgba(0, 0, 0, 0.24)

ambient-shadow()
  border-radius 2px
  background-color rgb(250, 250, 250)
  box-shadow 0px 15px 79.38px 1.62px rgba(0, 0, 0, 0.16)