md-select
  &.md-os-theme
    min-width 316px

  &.md-os-theme .md-select-value,
  &.md-os-theme:not([disabled]):focus .md-select-value
    padding-bottom 16px
    border-bottom-color #d7d7d7
    border-bottom-width 1px
    color rgba(0, 0, 0, 0.87)

  .md-select-value
    .md-select-icon
      color #737373
      position absolute
      top 4px
      right 8px


  .md-input-has-value label
    display none

.md-os-theme
  md-option
    height 37px

  md-select-menu&
    md-content
        &.md-os-theme
          background-color #fafafa

os-select
  position relative

.osSelect__cancel
  display block
  position absolute
  //background-color #f5f5f5
  color #737373
  top 10px
  right 0
  cursor pointer
  .material-icons
    font-size 20px
    line-height 42px
