md-select
  &.md-os-theme
    min-width 316px
  /*background: rgb(179, 18, 18);*/

  &.md-os-theme .md-select-value,
  &.md-os-theme:not([disabled]):focus .md-select-value
    padding-bottom 16px
    border-bottom-color #d7d7d7
    border-bottom-width 1px

  .md-select-icon
    color #737373

.md-input-has-value label
{
  display none
}

.md-os-theme
  md-option
    height 37px