.os-header
  background-color #fff
  height 64px
  max-height 64px
  line-height 64px
  color #000000
  padding 0 24px 0 20px
  box-sizing border-box

  &.os-header--double
    padding-top 60px
    height 105px
    max-height 105px
    line-height 45px

.os-header-search
  text-align right

.os-header-searchText
  font-size 12px
  color rgba(0, 0, 0, 0.541)
  margin-right 28px
  cursor pointer

  @media screen and (max-width: 768px)
    display none

.os-header-menuIcon
  margin-right 30px

.os-header-searchIcon
  // temporary hidden, should be applied when dropdown menu is present
  //margin-right 24px
  cursor pointer

.os-header-searchContainer
  text-align right
  outline none
