<div class="os-search" ng-if="!$ctrl.searcherHidden">
  <div class="os-search-head" layout="row">
    <div class="os-search-headItem" flex="90"><input class="os-search-query" type="search" name="{{$ctrl.name}}"
                                                     autocomplete="off" ng-model="$ctrl.searchText"
                                                     placeholder="{{$ctrl.placeholder}}"
                                                     ng-focus="$ctrl.searchHidden = false"
                                                     ng-keydown="$ctrl.keyFromInput($event)"/></div>
    <div class="os-search-headItem os-search__headItem--close" flex="10">
      <button class="os-search-clear" type="button" ng-click="$ctrl.close()">
        <md-icon>clear</md-icon>
      </button>
    </div>
  </div>
  <div class="os-search-result" layout="column"
       ng-if="$ctrl.searchText.length > 0 && !$ctrl.searchHidden && $ctrl.resultsAvailable()">
    <div class="os-search-resultHeaders" layout="row">
      <div class="os-search-resultHeader" flex="" ng-repeat="(key, column) in $ctrl.searchResults"
           ng-if="column.results.length">{{ column.title }}
      </div>
    </div>
    <div class="os-search-resultItems" layout="row">
      <div class="os-search-resultItemsContainer" layout="row">
        <div class="os-search-resultColumn" flex="" ng-repeat="(key, column) in $ctrl.searchResults"
             ng-if="column.results.length">
          <div class="os-search-resultItem" ng-repeat="item in column.results">
            <div class="os-search-resultItemColumn"
                 ng-click="$ctrl.selectResult(item, $ctrl.internalSearchProviders[column.providerId].onSelect)"
                 data-search-result-index="{{$index}}" data-provider-id="{{column.providerId}}" tabindex="0"
                 ng-keydown="$ctrl.keyFromSearchResult($event, result, column.providerId, searchProviders[column.providerId].onSelect)">
              {{item.text}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
