.os-search
  background-color #f5f5f5
  color #202020
  margin 0 150px

.os-search-query
  border none
  line-height 24px
  font-size 20px
  height 40px
  width 100%
  background transparent

  &:focus
    outline none

.os-search-buttons
  background none
  border none
  outline none
  height 40px
  line-height 40px

.os-search-spyglass
  @extends .os-search-buttons

.os-search-clear
  @extends .os-search-buttons

.os-search-head
  border-bottom 1px solid #dcdcdc
  padding-bottom 20px
  padding-top 43px

.os-search-headItem
  padding-left 16px

.os-search-resultHeaders
  padding 0
  color #989898
  margin 38px 0 11px
  font-size 13px

.os-search-resultHeader
  padding-left 16px

.os-search-result
  height auto
  max-height 725px
  overflow-y auto

.os-search-resultItemsContainer
  width 100%

.os-search-resultItem
  box-sizing border-box
  height 55px
  font-size 16px
  line-height 55px

.os-search-resultItem--active
  background-color #eeeeee

.os-search-resultItemColumn
  padding-left 16px
  outline none
