.os-header(layout="row", layout-align="center strech")
  //a.os-header-menuIcon(flex="3")
    md-icon menu

  span(flex="65") {{ osHeader.title }}

  div(flex="30").os-header-search
    span.os-header-searchText Search for a location, postcode

    a.os-header-searchIcon
      md-icon search

  //a(flex="2")
    md-icon more_vert
