.os-header(layout="row", layout-align="left strech")
  //a.os-header-menuIcon(flex="3")
    md-icon menu

  .os-header-title(flex="63%") {{ osHeader.title }}

  .os-header-searchContainer(
    flex="35%"
    ng-click="osHeader.openSearch()"
    ng-if="osHeader.useSearch"
    )
    .os-header-search
    span.os-header-searchText Search for a location, postcode

    a.os-header-searchIcon
      md-icon search

  //a(flex="2")
    md-icon more_vert

div(ng-transclude)
