// master brand colours
$os_midnight_blue = #453C90
$os_charcoal = #3C3C3C
$os_rubine_red = #D40058

// business areas
$mapping = #EA5B1B
$data = #6F2866
$solutions = #0099CE

// creative colours
$creative_1 = #5DC5EA
$creative_2 = #AECC53
$creative_3 = #D4DDEA
$creative_4 = #F7A70B
$creative_5 = #8F6FA0
$creative_6 = #007AA2

// map colours
$os_landranger = #FF00FF
$os_explorer = #FF4D00
$os_tour = #00FFFF
$os_historital = #4D00FF
$os_route = #004887
$os_route = #008717