$brand_primary = #2ea8ed

$osFontFamily = "Source Sans Pro", sans-serif

@import "styles/fonts"
@import "styles/shadows"
@import "styles/mdl-ripple"

@import "components/button/button"
@import "components/popup/popup"
@import "components/toolbar/toolbar"
@import "components/slider/slider"
@import "components/header/header"
@import "components/zoombar/zoombar"
@import "components/search/search"

button,
select,
html,
textarea,
input
  font-family $osFontFamily
