$brand_primary = #2ea8ed

$osFontFamily = "Source Sans Pro", sans-serif

@import "styles/fonts"

@import "components/button/button"
@import "components/select/select"
@import "components/tabs/tabs"

button,
select,
html,
textarea,
input
  font-family $osFontFamily

body
  color #9E9E9E