$brand_primary = #2ea8ed

$osFontFamily = "Source Sans Pro", sans-serif

@import "styles/fonts"
@import "styles/shadows"

@import "components/button/button"
@import "components/select/select"
@import "components/tabs/tabs"
@import "components/popup/popup"
@import "components/modal/modal"
@import "components/autocomplete/autocomplete"
//@import "components/toolbar/toolbar"
//@import "components/slider/slider"
@import "components/header/header"

button,
select,
html,
textarea,
input
  font-family $osFontFamily

body
  color #9E9E9E
