.grabbable
  cursor move /* fallback if grab cursor is unsupported */
  cursor grab
  cursor -moz-grab
  cursor -webkit-grab

.grabbing
  cursor grabbing
  cursor -moz-grabbing
  cursor -webkit-grabbing

.clickable
  cursor pointer
